@model Rent_O_Matic.ViewModels.StoreViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Store == null)
{
    <h2>New Store</h2>
}
else
{
    <h2>Edit Store</h2>
}


@using (Html.BeginForm("Save", "Stores", new { id = "StoreForm" }))
{ 
<div class="form-group">
    @Html.LabelFor(m => m.Store.City)
    @Html.TextBoxFor(m => m.Store.City, new { @class = "form-control", autofocus = "autofocus" })
    @Html.ValidationMessageFor(m=>m.Store.City)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Store.Country)
    @Html.TextBoxFor(m => m.Store.Country, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Store.Country)
</div>

    @Html.HiddenFor(c=>c.Store.Id)
<button class="btn btn-primary" type="submit">
    Save
</button>

}