@model Rent_O_Matic.ViewModels.CarViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Car == null)
{
    <h2>New Car</h2>
}
else
{
    <h2>Edit Car</h2>
}

@using (Html.BeginForm("Save", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.CarPhoto)
        <input type="file" id="carPhotoId" name="carPhoto" />
    </div>
    <br/>
    <div class="form-group">
        <span>
            @{
                if (Model.Car?.CarPhoto != null)
                {
                    var base64 = Convert.ToBase64String(Model.Car.CarPhoto);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                    <img src="@imgSrc" style="max-width: 300px; max-height: 200px;" alt="No photo available"/>
                }
                else
                {
                    <span>No photo chosen yet!</span>
                }
            }
        </span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Brand)
        @Html.TextBoxFor(m => m.Car.Brand, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Car.Brand)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Model)
        @Html.TextBoxFor(m => m.Car.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Model)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Year)
        @Html.TextBoxFor(m => m.Car.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Year)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Price)
        @Html.TextBoxFor(m => m.Car.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.AcquisitionPrice)
        @Html.TextBoxFor(m => m.Car.AcquisitionPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.AcquisitionPrice)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.StoreId)
        @Html.DropDownListFor(m => m.Car.StoreId, new SelectList(Model.Stores, "Id", "City"), "Select Store", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.StoreId)
    </div>

    @Html.HiddenFor(m => m.Car.Id)


                <button type="submit" class="btn btn-primary">
                    Save
                </button>

                }
