@using System.EnterpriseServices
@using System.Web.UI.WebControls
@using System.Web.Mvc.Html
@model Rent_O_Matic.ViewModels.RentCarViewModel
@{
    ViewBag.Title = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent this car</h2>

@using (Html.BeginForm("SaveRent", "Cars"))
{
    <br />
    <div class="form-group">
        <span>
            @{    if (Model.Car?.CarPhoto != null)
                {
                    var base64 = Convert.ToBase64String(Model.Car.CarPhoto);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                    <img src="@imgSrc" style="max-width: 300px; max-height: 200px; width: 400px" alt="No photo available" />
                }
                else
                {
                    <span>No photo available!</span>
                }
            }
        </span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Brand)
        @Html.TextBoxFor(m => m.Car.Brand, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Model)
        @Html.TextBoxFor(m => m.Car.Model, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Year)
        @Html.TextBoxFor(m => m.Car.Year, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinalPrice)
        @Html.TextBoxFor(m => m.FinalPrice, new { @class = "form-control", @readonly = "readonly" })
        @{
            if (Model.Car?.Price != Model.FinalPrice)
            {
                <h4 style="color: red"> Price after analyzing history!</h4>
            }
        }
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Car.StoreId, new { @class = "form-control", type = "hidden" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StoreName)
        @Html.TextBoxFor(m => m.StoreName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateRented)
        @Html.DatePickerFor(m => m.DateRented, "id = dateRented")
        @Html.ValidationMessageFor(m => m.DateRented)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateReturned)
        @Html.DatePickerFor(m => m.DateReturned, "id = dateReturned")
        @Html.ValidationMessageFor(m => m.DateReturned)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Car.Id, new { @class = "form-control", type = "hidden" })
    </div>


    @Html.HiddenFor(m => m.Car.Id)


            <button type="submit" class="btn btn-primary">
                Save
            </button>

            }

@section Scripts{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#dateRented').val("");
            $('#dateReturned').val("");
        });
    </script>
}