 @model Rent_O_Matic.ViewModels.CustomerForHistoryViewModel
    @{
        ViewBag.Title = "New";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

        @if (Model == null)
        {
            <h2>New Customer</h2>
        }
        else
        {
            if (Model.Name == null)
            {
                <h2>New Customer</h2>
            }
            else
            {
                <h2>Edit Customer</h2>
            }

        }
        @using (Html.BeginForm("Save", "Customers", new { id = "CustomerForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "customerName", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nationality)
                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nationality)
            </div>
            <div>
                @Html.LabelFor(m => m.YearsOld)
                @Html.TextBoxFor(m => m.YearsOld, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.YearsOld)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DrivingLiscense)
                @Html.TextBoxFor(m => m.DrivingLiscense, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DrivingLiscense)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StoreId)
                @Html.DropDownListFor(m => m.StoreId, new SelectList(Model.Stores, "Id", "City"), "Select Store", new { @class = "form-control", id = "storeddl", @onchange = "javascript:GetCars(this.value);" })
                @Html.ValidationMessageFor(m => m.StoreId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CarId)
                <select type="submit" id="ddlCars" name="CarId" class="form-control">
                    <option>Select a store first!</option>
                </select>
                @Html.ValidationMessageFor(m => m.CarId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateRented)
                @Html.DatePickerFor(m => m.DateRented, "id = dateRented")
                @Html.ValidationMessageFor(m => m.DateRented)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateReturned)
                @Html.DatePickerFor(m => m.DateReturned, "id = dateReturned")
                @Html.ValidationMessageFor(m => m.DateReturned)
            </div>

            @Html.HiddenFor(m => m.Id)

            if (@Model != null)
            {
                if (@Model.CarId != null)
                {
                    <div data-car-id="@Model.CarId" hidden="true" id="helperDivCar"></div>
                }

            }

            <button type="submit" class="btn btn-primary " id="submitBTN">
                Save
            </button>



            @section Scripts{
                <script language="javascript" type="text/javascript">

            if ($("#helperDivCar").attr("data-car-id") == null) {
                $.holdReady(true);
            }
            $(document).ready(function () {
                if ($("#customerName").text != null) {
                    $.ajax({
                        url: "/Customers/GetCarBrandById",
                        data: { id: $("#helperDivCar").attr("data-car-id") },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value=" +
                                data[data.length - 1].Value +
                                ">" +
                                data[data.length - 1].Text +
                                "</option>";

                            $("#ddlCars").html(markup).show();
                        },
                        error: function (response) {
                            alert("error : " + response);
                        }
                    });
                }
            });


            function GetCars(_storeId) {
                if (_storeId) {
                    $.ajax({
                        url: "/Customers/GetCarsByStoreId/",
                        data: { storeId: _storeId },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Select Car</option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#ddlCars").html(markup).show();
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });
                } else {
                    var markup = "<option value='0'>Select a Store first!</option>";
                    $("#ddlCars").html(markup).show();
                }
            }


                </script>
            }
        }